.post {
    width: 80%;
    background: oldlace;
    padding: 1%;
    margin: 1% auto;
    border: 1px solid black;
    border-radius: 5px;
}
  
.post h1 p {
    text-align: center;
}

.comment {
    width: 80%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid #6366F1;
}

.comment p h4 {
    align-items: flex-start;
}

.comment span {
    font-style: italic;
    text-decoration: underline;
}

.upvoteContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 1% auto;
}

.dataScroller {
    width: 80%;
    margin: 2% auto;
}