.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post {
  width: 80%;
  background: oldlace;
  margin: 1% auto;
  border: 1px solid black;
  border-radius: 5px;
}

.post h1 {
  text-align: center;
}

.visitButton {
  display: flex;
  justify-self: center;
  margin: 1% auto;
  background-color: deepskyblue;
  text-align: center;
  padding: 1%;
  border: 1px solid black;
  border-radius: 10px;
}

.visitButton:hover {
  cursor: pointer;
  background-color: aqua;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
